<!DOCTYPE html>
<html  layout:decorator="admin/common/layout"  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
    <meta charset="UTF-8"/>
    <title>tr.com.erhankarakaya.web</title>
</head>
<body>
<div id="page-wrapper" layout:fragment="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">index</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
</body>
</html>