<!DOCTYPE html>
<html layout:decorator="admin/common/layout" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>tr.com.erhankarakaya.web</title>
</head>
<body>
<div id="page-wrapper" layout:fragment="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Hoşgeldiniz</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Portfolio Edit
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form role="form" th:object="${portfolio}" method="post" action="" th:action="@{/admin/portfolio/edit}">
                                <div class="form-group">
                                    <label>Ad</label>
                                    <input class="form-control" type="text" placeholder="Ad giriniz."
                                           th:field="*{title}"/>
                                </div>
                                <div class="form-group">
                                    <label>Açıklama</label>
                                    <textarea class="form-control" placeholder="Açıklama giriniz."
                                              th:field="*{description}">
                                   </textarea>
                                </div>
                                <div class="form-group">
                                    <label>Dil</label>
                                    <select class="form-control" type="text" placeholder="Dil seçiniz."
                                            th:field="*{languageId}">
                                        <option value="1">Türkçe</option>
                                        <option value="2">İngilizce</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Sıra numarası</label>
                                    <input class="form-control" type="number" placeholder="Sıra numarası giriniz."
                                           th:field="*{orderingNumber}"/>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-warning" type="reset">
                                        <i class="fa fa-refresh"></i> Değişiklikleri geri al
                                    </button>
                                    <button class="btn btn-success" type="submit">
                                       <i class="fa fa-save"></i> Kaydet
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    </div>
    <!-- /.row -->
</div>
</body>
</html>